# Core Dagster libraries
dagster
dagster-webserver

# Library for PostgreSQL storage backend
dagster-postgres

# Library for using AWS S3 for compute log storage
# This is critical for Heroku's ephemeral filesystem
dagster-aws

# A production-grade web server, recommended for Heroku
gunicorn

# Example dependency for user code
pandas

